<div class="content-heading">
  <div>
    👨‍👩‍👧‍👦 Users
    <br>
    <small><b> A user is a person or robot that can access resources and clients..</b></small>
  </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='add'><i nz-icon
    nzType="user-add"></i>Create new user</button>
<!--Users-->
<nz-spin [nzSpinning]="isSpinning">
  <nz-table #userTable [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzData]="items" [nzTotal]="totalRecords"
    [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userTable.data">
        <td>{{ user.userName }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{user.email}}</td>

        <td>
          <div class="table-action">
            <a style="margin: 10px;" nz-tooltip nzTooltipTitle="User detail & Edit User" href='javascript:void(0)'
              (click)="openEditUser(user.id)">
              <i nz-icon nzType="edit"></i>
            </a>
            <a nz-tooltip style="margin: 10px; " nzTooltipTitle="Control user's roles"
              [routerLink]="[user.id,'user-role']">
              <i nz-icon nzType="control"></i>
            </a>
            <a nz-tooltip style="margin: 10px; " nzTooltipTitle="Rest password to default" href='javascript:void(0)'
              (click)='showResetConfirm(user.id ,user.fullName)'>
              <i nz-icon nzType="retweet"></i>
            </a>
            <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Delete User" href='javascript:void(0)'
              (click)='showDeleteConfirm(user.fullName, user.id)'>
              <i nz-icon nzType="delete"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>

<!--Edit User-->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visibleEditUser" nzTitle=" 👨‍👩‍👧‍👦 Edit User"
  (nzOnClose)="closeEditUser()">
  <nz-spin [nzSpinning]="isSpinningEditUser">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="formEditUser" (ngSubmit)="saveChanges()">
      <nz-form-item>
        <nz-form-label>Id:</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input style="background-color: #ececec;" nz-input formControlName="id" readonly />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>User Name:</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input style="background-color: #ececec;" nz-input formControlName="userName" readonly />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>First Name:</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid!">
          <nz-input-group>
            <input formControlName="firstName" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Last Name:</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid!">
          <nz-input-group>
            <input nz-input formControlName="lastName" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Email:</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
          <nz-input-group>
            <input nz-input formControlName="email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="formEditUser.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                <nz-option nzLabel="+84" nzValue="+84"></nz-option>
                <nz-option nzLabel="+85" nzValue="+85"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Date of birth:</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid!">
          <nz-input-group>
            <input nz-input formControlName="dob" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!formEditUser.valid">Save changes</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-spin>
</nz-drawer>