<!--Start welcome api scope-->
<div class="content-heading">
    <div>
        ☁️ Api scope properties
        <br>
        <small><b> Resources are something you want to protect with IdentityServer – either APIs (by doing this your
                data will be protected as well). So to access your database content must be through an API..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink="../"><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--End welcome api scope-->
<nz-spin [nzSpinning]="isSpinning">
    <!--Start table api scope properties-->
    <nz-table #propertyTable [nzData]="items" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let property of propertyTable.data">
                <td>{{ property.id }}</td>
                <td>{{ property.value }}</td>
                <td>{{ property.key }}</td>
                <td>
                    <div class="table-action">
                        <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Delete api resource"
                            href='javascript:void(0)' (click)='showDeleteConfirm(property.key)'>
                            <i nz-icon nzType="delete"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!--End table api scope properties-->
    <hr>
    <hr>
    <div>
        <!--Start form add new api scope property-->
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="key">Key</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="key" id="key" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="value">Value</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="value" id="value" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Create</button>
                </nz-form-control>
            </nz-form-item>
        </form>
        <!--End form add new api secret-->
    </div>
</nz-spin>