<!--Start welcome api resources-->
<div class="content-heading">
    <div>
        ☁️ Api resources
        <br>
        <small><b> Resources are something you want to protect with apiServer – either APIs (by doing this your
                data will be protected as well). So to access your database content must be through an API..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='add'><i nz-icon
        nzType="file-add"></i>Create new resource</button>
<!--End welcome api resources-->
<nz-spin [nzSpinning]="isSpinning">
    <!--Start table api resources-->
    <nz-table #apiTable [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzData]="items" [nzTotal]="totalRecords"
        [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Description</th>
                <th>Setting Api</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let api of apiTable.data">
                <td>{{ api.id }}</td>
                <td>{{ api.name }}</td>
                <td>{{ api.description }}</td>
                <td>
                    <div class="table-action">
                        <a style="margin: 10px;" nz-tooltip
                            nzTooltipTitle="Api resource setting claims, scopes, secrets..." href='javascript:void(0)'
                            [routerLink]="[api.name,'settings']">
                            <i nz-icon nzType="setting"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="table-action">
                        <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Api resource detail & edit..."
                            href='javascript:void(0)' (click)='openEditApiResource(api.name)'>
                            <i nz-icon nzType="edit"></i>
                        </a>
                        <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Delete api resource..."
                            href='javascript:void(0)' (click)='showDeleteConfirm(api.name)'>
                            <i nz-icon nzType="delete"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!--End table api resources-->
</nz-spin>

<!--Start edit api resources-->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="540" [nzVisible]="visibleEditApi" nzTitle=" ☁️ Edit Api Resource"
    (nzOnClose)="closeEditApiResource()">
    <nz-spin [nzSpinning]="isSpinningDrawer">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="name" id="name" readonly />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="displayName">Display Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="displayName" id="displayName" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="description">Description</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="description" id="description" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="enabled">Enabled</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-switch formControlName="enabled" id="enabled"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Save Changes</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>
</nz-drawer>
<!--End edit api resources-->