img {
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px;
}

nz-header {
  background: #fff;
  padding: 0;
  height: auto;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 500px;
}

nz-footer {
  text-align: center;
}
.item{
  position: fixed;
  width: 200px;
  height: calc(100% - 55px);
}