<nz-layout>
  <!--header-->
  <nz-layout>
    <nz-header>
      <nav class="navbar navbar-expand-lg">
        <a href="https://localhost:5000" target="_blank" >
          <img src="./assets/images/is4-logo.png" alt="">
        </a>
        <div class="collapse navbar-collapse" style="margin-inline-end: 30px;">
          <ul nz-menu nzMode="horizontal" class="navbar-nav ml-auto">
            <li nz-submenu nzTitle="Language" nzIcon="translation" style="text-align: center; width: auto;">
              <ul>
                <a href="">
                  <li nz-menu-item>Language</li>
                </a>
                <a href="">
                  <li nz-menu-item>Language</li>
                </a>
                <a href="">
                  <li nz-menu-item>Language</li>
                </a>
              </ul>
            </li>
            <li nz-submenu nzTitle={{fullName}} nzIcon="user"
              style="min-width: 250px; width: auto; text-align: center;">
              <ul>
                <span>
                  <li nz-menu-group nzTitle={{userName}}></li>
                </span>
                <span>
                  <li nz-menu-group nzTitle={{email}}></li>
                </span>
                <ul>
                  <a href="">
                    <li nz-menu-item>Settings</li>
                  </a>
                  <a href="javascript:void(0)" (click)="signOut()">
                    <li nz-menu-item>Logout</li>
                  </a>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item></nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
       <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant & Bootstrap Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>