<div class="content-heading">
    <div>
        🔖 Identity Resources
        <br>
        <small><b> Identity resources are data like user ID, name, or email address of a user. An identity resource has a unique name, and you can assign arbitrary claim types to it. These claims will then be included in the identity token for the user..</b></small>
    </div>
</div>

<div class="card card-default" >
    <div class="card-header">
        <a class="btn btn-outline-primary mb-3" [routerLink]="[ '/identity-resources/add' ]"><i class="fa fa-plus-circle"></i>
            {{'Add' | translate}} Identity Resource</a>
    </div>