<!--Start welcome identity resource-->
<div class="content-heading">
    <div>
        🔖 Identity resources
        <br>
        <small><b> Identity resources are data like user ID, name, or email address of a user. An identity resource has
                a unique name, and you can assign arbitrary claim types to it. These claims will then be included in the
                identity token for the user..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='add'><i nz-icon
        nzType="file-add"></i>Add new resource</button>
<!--End welcome identity resource-->
<!--Start table identity resources-->
<nz-spin [nzSpinning]="isSpinning">
    <nz-table #identityTable [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzData]="items" [nzTotal]="totalRecords"
        [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Description</th>
                <th>Identity Claim</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let identity of identityTable.data">
                <td>{{ identity.id }}</td>
                <td>{{ identity.name }}</td>
                <td>{{ identity.description }}</td>
                <td>
                    <div class="table-action">
                        <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Identity resource detail & Edit.."
                            href='javascript:void(0)' [routerLink]="[identity.name,'claim']">
                            <i nz-icon nzType="setting"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="table-action">
                        <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Identity resource detail & Edit.."
                            href='javascript:void(0)' (click)='openEditIdentityResource(identity.name)'>
                            <i nz-icon nzType="edit"></i>
                        </a>
                        <a style="margin: 10px;" nz-tooltip nzTooltipTitle="Delete identity resource"
                            href='javascript:void(0)' (click)='showDeleteConfirm(identity.name)'>
                            <i nz-icon nzType="delete"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!--End table identity resource-->
</nz-spin>
<!--Start edit identity resource-->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="1000" [nzVisible]="visibleEditIdentity" nzTitle=" 🔖 Edit Identity Resource"
    (nzOnClose)="closeEditIdentityResource()">
    <nz-spin [nzSpinning]="isSpinningDrawer">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="name" id="name" readonly />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="displayName">Display Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="displayName" id="displayName" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="description">Description</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="description" id="description" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="enabled">Enabled</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-switch formControlName="enabled" id="enabled"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="showInDiscoveryDocument">Show In Discovery Document
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-switch formControlName="showInDiscoveryDocument" id="showInDiscoveryDocument"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="required">Required</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-switch formControlName="required" id="required"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="emphasize">Emphasize</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-switch formControlName="emphasize" id="emphasize"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Save Changes</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>
</nz-drawer>
<!--End edit identity resource-->