<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'Home' | translate }}</span>
        </a>
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Clients' | translate }}</span>
        </a>
        <a [routerLink]="['/api-resources']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cloud"></i>&nbsp;
            <span>{{ 'Api Resources' | translate }}</span>
        </a>        
        <a [routerLink]="['/identity-resources']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-key"></i>&nbsp;
            <span>{{ 'Identity Resources' | translate }}</span>
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Users' | translate }}</span>
        </a>
        <a [routerLink]="['/roles']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-circle-o"></i>&nbsp;
            <span>{{ 'Roles' | translate }}</span>
        </a>      
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;        
    </div>
</nav>
