<!--Start welcome identity resource-->
<div class="content-heading">
    <div>
        🔖 Identity resource claims
        <br>
        <small><b> Identity resources are data like user ID, name, or email address of a user. An identity resource has
                a unique name, and you can assign arbitrary claim types to it. These claims will then be included in the
                identity token for the user..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='/identity-resources'><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--End welcome identity resource-->
<nz-spin [nzSpinning]="isSpinning">
    <!--Identity resource detail-->
    <nz-descriptions nzTitle="Identity resources {{name}} manager claims ">
        <nz-descriptions-item nzTitle="Name">{{displayName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description">{{description}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Enabled">{{enabled}}</nz-descriptions-item>
    </nz-descriptions>
    <!--End resource identity-->
    <!--Start edit identity resource claims-->
    <div class="identity-resource-claim">
        <b>Claims:</b>
        <div nz-col>
            <nz-tag [nzColor]="'red'" style="margin: 5px;" nz-row *ngFor="let tag of identityClaimTags"
                [nzMode]="'closeable'" nzMode="checkable" (nzOnClose)="deleteIdentityResourceClaim(tag)">
                {{ tag }}</nz-tag>
        </div>
    </div>
    <hr>
    <div class="add-identity-resource-claim">
        <b>Add new claim:</b>
        <div nz-col>
            <a>
                <nz-tag style="margin: 5px;" nz-row *ngFor="let tag of tempClaims" nzMode="checkable"
                    [nzColor]="'#108ee9'" (nzCheckedChange)="addIdentityResourceClaim(tag)"> +
                    {{ tag }}
                </nz-tag>
            </a>
        </div>
    </div>
    <!--End edit identity resource claims-->
</nz-spin>